@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">HEY</h1>
    <h1 class="display-4">HI</h1>
    <h1 class="display-4">HOW YA DOIN'?</h1>
</div>
<body>
    <p></p>
    <p> My name is Žydrūnas Grabauskas, I'm a junior developer. Teh idea for this app is to manage gym workouts and memeber subscriptions. I managed to achieve this simple idea , but I also have a lot of ideas for new features:</p>
    <p> 1. Ability to add workouts with photos/videos and descriptions;</p>
    <p> 2. Mobile Xamarin app;</p>
    <p> 3. Registration and login proces (right now it is best not to forget your password :D );</p>

    <p>All code can be found in my GitHub repository:</p>
    <a href="https://github.com/MotorEvil/SportoKluboApp">
        <img src="~/img/github2.png" id="github" />
    </a>
</body>
<body>
    <p>If you want to try it for yourself, you can register a new user or use existing:</p>
    <p>UserName: Testas, Password: Testas@1</p>
    <p>To test admin functions:</p>
    <p>UserName: Adminas, Password: Testing123!</p>
</body>

<style>
    #github{
       width:50px;
       
    }
</style>