@model SportoKluboApp.Models.Treniruote

    <form asp-action="AddTreniruote" method="post">
        <label asp-for="Pavadinimas">Add new item:</label>
        <input asp-for="Pavadinimas" />
        <label asp-for="Laikas">Iveskite Laika</label>
        <input asp-for="Laikas" />
        <label asp-for="LaisvosVietos">Laisvos Vietos</label>
        <input asp-for="LaisvosVietos" />

        <button type="submit" id="smm">Submit</button>
    </form>