@model IEnumerable<SportoKluboApp.Models.WorkoutUser>

<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
            </td>
            <td>@item.ApplicationUser.Subscription</td>
            <td>
                @if (item.Attended == false)
                {
                    <form asp-controller="Treniruotes" asp-action="MinusSubscription" method="post">
                        <input id="was" type="submit" value="Dalyvavo" />
                        <input type="hidden" name="id" value="@item.ApplicationUser.Id">
                        <input type="hidden" value="@item.TreniruoteId" name="wid" />
                    </form>

                }
            </td>
        </tr>
}
    </tbody>
</table>

